@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        .bet_con_ground {
            background: url(../Source/image/bg.jpg) no-repeat;
            padding-bottom: 100px;
            padding-top: 20px;
        }

        #id_time li {
            background: url(../Source/image/bg02.png) no-repeat center top;
            list-style: none;
            float: left;
            width: 45px;
            height: 84px;
            line-height: 39px;
            text-align: center;
            font-size: 24px;
            font-family: "微软雅黑";
            color: white;
            font-weight: bold;
            align-content: center;
            background-size: 36px 46px;
        }

        #id_lottery li {
            background: url(../Source/image/bg03.png) no-repeat center top;
            list-style: none;
            float: left;
            width: 60px;
            height: 62px;
            line-height: 50px;
            text-align: center;
            font-size: 40px;
            font-family: "微软雅黑";
            color: #3D4375;
            font-weight: bold;
            align-content: center;
        }
    </style>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/highcharts.js"></script>
    <script src="~/Scripts/laydate.js"></script>
    @*<script src="~/Scripts/highstock.js"></script>*@
    <script type="text/javascript">
        $(function () {
            var curDate = new Date();
            if (curDate.getHours() < 8) {
                curDate.setDate(curDate.getDate() - 1);//获取AddDayCount天后的日期
                $("#id_startdate").val(setDate(curDate));
                $("#id_enddate").val(setDate(curDate));
            }
            else {
                $("#id_startdate").val(setDate(curDate));
                $("#id_enddate").val(setDate(curDate));
            }

            request_piedata(1);

            $("#radio1").click(function () {
                request_piedata(1);
            });

            $("#radio2").click(function () {
                request_piedata(2);
            });
        });

        function setDate(date) {
            var curr_year = date.getFullYear();
            var curr_month = date.getMonth() + 1;
            var curr_date = date.getDate();
            String(date.getMonth()).length < 2 ? (curr_month = "0" + curr_month) : curr_month;
            String(curr_date).length < 2 ? (curr_date = "0" + curr_date) : curr_date;
            var yyyyMMdd = date.getFullYear() + "-" + curr_month + "-" + curr_date;
            return yyyyMMdd;
        }

        function request_piedata(type) {
            //$.get("xscp/GetPieData?type=2&date=20170815",
            $.get("/xscp/GetPieRangeData?type=" + type + "&startDate=" + $("#id_startdate").val() + "&endDate=" + $("#id_enddate").val(),
                function (data, state) {

                    $.each(data, function (i, root) {
                        var ydata = [];
                        $.each(root.List, function (j, item) {
                            var data = [];
                            data.push(item.Num.toString())
                            data.push(item.Count);
                            ydata.push(data);
                        })

                        LoadPieCharts("container" + i, root.Name, root.SubName, ydata)
                    });

                });
        }

        //Get方式
        function request_data(type) {
            $.get("/xscp/GetDwdData?type=2&date=20170815",
                function (data, state) {
                    var xdata = [];
                    var bigdata = [];
                    var smalldata = [];
                    var odddata = [];
                    var pairdata = [];
                    $.each(data, function (i, item) {
                        xdata.push(item.Dtime);
                        bigdata.push(item.Big);
                        smalldata.push(item.Small);
                        odddata.push(item.Odd);
                        pairdata.push(item.Pair);
                    });
                    LoadCharts("container", "bar", xdata, [{ name: '大大', data: bigdata }]);
                    LoadCharts("container1", "line", xdata, [{ name: '小小', data: smalldata }]);
                    LoadCharts("container2", "bar", xdata, [{ name: '奇奇', data: odddata }]);
                    LoadCharts("container3", "bar", xdata, [{ name: '偶偶', data: pairdata }]);

                    var ydata = [{ name: '大大', data: bigdata },
                                 //{ name: '小小', data: smalldata },
                                 //{ name: '奇奇', data: odddata },
                                 { name: '偶偶', data: pairdata }];
                });
        }

        function LoadPieCharts(container, title, subtitle, data) {

            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: container,//目标容器
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: title
                },
                subtitle: {
                    text: subtitle
                },
                tooltip: {
                    headerFormat: '{series.name}<br>',
                    pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '{point.percentage:.1f} % ({point.name})',
                            style: {
                            }
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: '开奖占比',
                    data: data
                    //    [
                    //    ["0", 10],
                    //    ['1', 13],
                    //    ['2', 8],
                    //    ['3', 10],
                    //    ['4', 7],
                    //    ['5', 8],
                    //    ['15', 1]
                    //]
                }]
            });
        }

        function LoadCharts(container, chartType, xdata, ydata) {
            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: container,//目标容器
                    type: chartType
                },
                title: {
                    text: '分分走势图'
                },
                xAxis: {
                    categories: xdata,
                    tickInterval: 100
                    //labels: {step:100}
                },
                yAxis: {
                    title: {
                        text: '走势'
                    },
                    //tickInterval: 5
                },
                series: ydata
            });
        }



        function chart1() {
            $('#container').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'My first Highcharts chart'
                },
                xAxis: {
                    categories: ['苹果', '香蕉', '橙子']   //指定x轴分组
                },
                yAxis: {
                    title: {
                        text: 'something'
                    }
                },
                series: [{                                //指定数据列
                    name: '小明',                          //数据列名
                    data: [1, 0, 4]                        //数据
                }, {
                    name: '小红',
                    data: [5, 7, 3]
                }]
            });
        }

        function chart2() {
            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',//目标容器
                    type: 'pie'
                },
                title: {
                    text: 'Fruit Consumption'
                },

                legend: {
                    //align: 'center', //水平方向位置
                    //verticalAlign: 'top', //垂直方向位置
                    //x: 0, //距离x轴的距离
                    //y: 100 //距离Y轴的距离
                    layout: 'vertical',
                    align: 'left',
                    verticalAlign: 'top',
                    borderWidth: 0
                },

                xAxis: {
                    categories: ['Apples', 'Bananas', 'Oranges']
                },
                yAxis: {
                    title: {
                        text: 'Fruit eaten'
                    }
                },
                series: [{
                    name: 'Jane',
                    data: [1, 0, 4]
                }, {
                    name: 'John',
                    data: [5, 7, 3]
                }]
            });
        }

        function chart3() {
            var option = new Object();
            option.chart = new Object();
            option.chart.type = "bar";
            option.chart.renderTo = "container";

            option.title = { title: "水果的摄入" };

            option.xAxis = { categories: ['苹果', '香蕉', '桔子'], gridLineWidth: 1 };
            option.yAxis = { title: { text: "吃水果的量" }, tickInterval: 1 };

            option.series = new Array();
            option.series[0] = new Object();
            option.series[0].name = "张三";
            option.series[0].data = [1, 3, 5];

            option.series[1] = new Object();
            option.series[1].name = "李四";
            option.series[1].data = [6, 1, 5.5];

            option.series[2] = new Object();
            option.series[2].name = "刘能";
            option.series[2].data = [3, 1, 0.3];

            var chart = new Highcharts.Chart(option);
        }
    </script>
</head>
<body>
    <div style="margin-top:25px;">
        <label style="color:black;">开始日期：</label>
        @*<input id="id_startdate" type="text" value="20170818" style="width:80px;" />*@
        <input id="id_startdate" onclick="laydate()" style="width:80px;" />
        <label style="color: white;">123</label>
        <label style="color: black;">     结束日期：</label>
        <input id="id_enddate" onclick="laydate()" style="width:80px;" />
        <input type="radio" name="radio" id="radio1" checked="true" />前二
        <input type="radio" name="radio" id="radio2" />后二
    </div>

    <div id="container0" style="width: 400px; height: 400px; float: left;"></div>
    <div id="container1" style="width: 400px; height: 400px; float: left;"></div>
    <div id="container2" style="width: 400px; height: 400px; float: left;"></div>
    <div id="container3" style="width: 400px; height: 400px; float: left;"></div>
    <div id="container4" style="width: 400px; height: 400px; float: left;"></div>
    <div id="container5" style="width: 400px; height: 400px; float: left;"></div>
    <div id="container6" style="width: 400px; height: 400px; float: left;"></div>
    <div id="container7" style="width: 400px; height: 400px; float: left;"></div>
    <div id="container8" style="width: 400px; height: 400px; float: left;"></div>
</body>
</html>

