@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <title>基础直线图</title>
    @*<script src="~/Scripts/highcharts.js"></script>*@

    <script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script>
        $(function () {
            //var json = "[7, 10, 3, 5]";
            var json = '[{ "name": "A", "data": [7, 10, 3, 5] }]';

            //var jsonStr = "[1,2,3,{'a':1}]";

            //var data = JSON.parse(json)
            //alert(data)
            ////var data = JSON.stringify(json)

            //var data = [];

            //data.push({
            //    'name': "第一条",
            //    'data': [7, 10, 3, 5]
            //});

            //data.push({
            //    'name': "第二条",
            //    'data': [7, 2, 4, 1]
            //});

            //var data = [];
            //data.push(7, 10, 3, 5);
            Post_Method();
            //createCharts(data);

            function Post_Method() {
                $.post("Xscp/GetChartsData",
                {
                    type:1,
                    num: 100,
                    date: "20170601"
                },
                function (response, state) {
                    $("#myPnl").html(response);
                });
            }


            function createCharts(data) {
                var charts = new Highcharts.Chart({
                    chart: {
                        renderTo: 'fooddlg',
                        defaultSeriesType: 'line', //图表类别，可取值有：line、spline、area、areaspline、bar、column等
                        marginRight: 130,
                        marginBottom: 25
                    },

                    title: {
                        text: 'Solar Employment Growth by Sector, 2010-2016'
                    },

                    subtitle: {
                        text: 'Source: thesolarfoundation.com'
                    },

                    yAxis: {
                        title: {
                            text: 'Number of Employees'
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },

                    plotOptions: {
                        series: {
                            pointStart: 2010
                        }
                    },
                    //,

                    series: data
                    //    [
                    //        {
                    //            "name": "A",
                    //            "data": [
                    //                7,
                    //                10,
                    //                3,
                    //                5
                    //            ]
                    //        }
                    //    ]

                    //[{ 'name': 'A', 'data': [7, 10, 3, 5] }]
                    //[{
                    //    name: 'Installation',
                    //    data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
                    //}]
                });

                //charts.series..series.ad.JSON.series = JSON.parse("[{ name: 'A', data: [7, 10, 3, 5] }]");
            }



            //charts.xAxis.categories = xatrnames
            //charts.series[0].data. = "[11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]";
            //charts = new Highcharts.Chart(options_validatestatics);

        });

    </script>

</head>
<body>
    @*<div id="container" style="min-width:400px;height:400px"></div>*@

    <div id="fooddlg" style="min-width:400px;height:400px"></div>
    <div id="myPnl"</div>

    <script>
        /**
      * Highcharts 在 4.2.0 开始已经不依赖 jQuery 了，直接用其构造函数既可创建图表
     **/

        var charts = new Highcharts.chart('container', {

            title: {
                text: 'Solar Employment Growth by Sector, 2010-2016'
            },

            subtitle: {
                text: 'Source: thesolarfoundation.com'
            },

            yAxis: {
                title: {
                    text: 'Number of Employees'
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },

            plotOptions: {
                series: {
                    pointStart: 2010
                }
            },

            series: [{
                name: 'Installation',
                data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
            }, {
                name: 'Manufacturing',
                data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434]
            }, {
                name: 'Sales & Distribution',
                data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
            }, {
                name: 'Project Development',
                data: [null, null, 7988, 12169, 15112, 22452, 34400, 34227]
            }, {
                name: 'Other',
                data: [12908, 5948, 8105, 11248, 8989, 11816, 18274, 18111]
            }]

        });


    </script>

</body>
</html>
