<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DbPath" value="E:\sqlite"/>
    <!--<add key="DbPath" value="E:\sqlite\test7.db3"/>-->
    <!--<add key="CookiePath" value="C:\Users\DELL\AppData\Local\Google\Chrome\User Data\Default\Cookies"/>-->
    <add key="Dbsource" value="mysql"/>
    <add key="CookiePath" value="C:\Users\Administrator.PC-20170513BRYJ\Local Settings\Application Data\Application Data\Google\Chrome\User Data\Default\Cookies"/>
    <!--<add key="MysqlConnectString" value="Database=xscp2017;Data Source=127.0.0.1;User Id=root;Password=123456;CharSet=utf8;port=3306"/>
    <add key="DbName" value="xscp2017"/>-->
    <add key="MysqlConnectString" value="Database=tencent2017;Data Source=192.168.20.234;User Id=root;Password=123456;CharSet=utf8;port=3306"/>
    <add key="DbName" value="tencent2017"/>

    <!--<add key="MysqlConnectString" value="Database=million2017;Data Source=localhost;User Id=root;Password=123456;CharSet=utf8;port=3306"/>
    <add key="DbName" value="million2017"/>-->
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>