@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <!--
      <style>
    .tb_table { border: 1px solid #ccc; border-collapse: collapse; font-size: 12px; margin-bottom: 10px; }
    */
    .tb_table { border: 1px solid #CCCCCC; border-collapse: collapse; font-size: 12px; background-color: #f2f2f2;}
    .tb_table td { border: 1px solid #CCCCCC; text-align: center; line-height:20px; }
    </style> -->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/laydate.js"></script>
    <link href="~/Source/new/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Source/new/css/red.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
    </title>

    <script>
        var lotterType = "x2sdxds";
        var curNum = "10";

        $(document).ready(function () {
            var curDate = new Date();
            if (curDate.getHours() < 8) {
                curDate.setDate(curDate.getDate() - 1);//获取AddDayCount天后的日期
                $("#id_date").val(setDate(curDate));
            }
            else {
                $("#id_date").val(setDate(curDate));
            }

            request();


            //on是你的样式名
            $('li').bind('click', function () {
                $(this).addClass('on');
                $('li').not($(this)).removeClass('on');
            });

            $(".wanfa2 span").bind('click', function () {
                if ($(this).attr("class") != "tab_2_2") {
                    $(this).attr("style", "background-color:#ff0000;color:#fff;");
                    $('.wanfa2 span').not($(this)).removeAttr("style");
                    lotterType = $(this).attr("id");
                    var txt_value = $(this).text();
                    $("#id_lottery_type_name").text(txt_value);
                    request();
                }
            });

            $(".wanfa2 a").each(function () {
                if ($(this).attr("href").split("=")[1] == "2x012") {
                    $(this).attr("class", "hover");
                    //alert($(this).attr("class"));
                }
            });

            $("td a").bind('click', function () {
                curNum = $(this).attr("id").split("_")[1];
                request();
            });
        });

        function setDate(date) {
            var curr_year = date.getFullYear();
            var curr_month = date.getMonth() + 1;
            var curr_date = date.getDate();
            String(curr_month).length < 2 ? (curr_month = "0" + curr_month) : curr_month;
            String(curr_date).length < 2 ? (curr_date = "0" + curr_date) : curr_date;
            var yyyyMMdd = date.getFullYear() + "-" + curr_month + "-" + curr_date;
            return yyyyMMdd;
        }

        function request() {
            showOpenCode();

            $.ajax({
                type: 'post',
                url: "/Tendency/LoadTendencyData",
                data: {
                    type: lotterType,
                    date: $("#id_date").val(),
                    num: $("#id_num").val()
                },
                async: true,
                dataType: "text",
                success: function (data) {
                    $("#tablessc").html(data);
                },
                error: function () {
                    $("#tablessc").html("失败");
                }
            });
        }

        var leftsecond = 0;
        var interval = 1000;
        var nextexpect = "100";
        function showOpenCode() {
            $.ajax({
                type: 'post',
                url: "/Tendency/LoadOpenCode",
                dataType: "json",
                async: true,
                data: {
                    date: $("#id_date").val()
                },
                success: function (data) {
                    if (data != null) {
                        $("#qhao").html(data.Sno + "期");
                        $("#result").html("<span>"
                                            + data.Num1 + "</span><span>"
                                            + data.Num2 + "</span><span>"
                                            + data.Num3 + "</span><span>"
                                            + data.Num4 + "</span><span>"
                                            + data.Num5 + "</span>");
                        $("#sy").html(1380 - parseInt(data.Sno));
                        nextexpect = parseInt(data.Sno) + 1;
                    }
                }
            });
        }

        var bl = false;
        function downtime() {
            var date = new Date();
            if (date.getHours() >= 8 && date.getMinutes() <= 1) {
                $("#id_date").val(setDate(date));
            }

            var downSeconds = 60 - date.getSeconds();
            var timeResult = String(downSeconds);
            if (downSeconds < 10) {
                timeResult = "0" + timeResult;
            }

            $("#djs").html('<td>距离下期开奖剩余</td><td width="49"><em>' + "00" + '</em></td><td width="29" align="center">分</td><td width="49"><em>'
                + timeResult + '</em></td><td width="29" align="center">秒</td><td align="right"><span class="horn"></span></td>')

            if (!bl && downSeconds > 35 && downSeconds < 48) {
                request();
                bl = true;
            } else if (downSeconds <= 35 || downSeconds >= 48) {
                bl = false;
            }
        }

        window.setInterval(downtime, interval);

        function showInfo(type) {
            alert(type);
        }
    </script>

</head>
<body>
    <div class="h10"></div>
    <div class="wrap">
        <div class="bor_f2c bg_fbf p10">
            <div class="caiz">
                <div class="layA l">
                    <img src="~/Source/new/images/temp/ssc.jpg" width="86" height="86" />
                </div>
                <div class="layB l">
                    <p>
                        @*<span class="f14 mr20">当前开：<em class="cdf0" data="" id="qhao">0期</em></span>*@
                        <span class="f14 mr20">当前开：<strong class="cdf0" id="qhao">0期</strong></span>
                        <span>每日<strong class="cdf0">1380</strong>期，今日剩余<strong class="cdf0" id="sy">0</strong>期</span>
                    </p>
                    <div class="c"></div>
                    <p></p>
                    <div class="num" id="result">
                        <span>0</span>
                        <span>0</span>
                        <span>0</span>
                        <span>0</span>
                        <span>0</span>
                    </div>
                </div>
                <div class="layC l">
                    <div class="l">
                    </div>
                    <div class="l">
                        <table width="294" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr id="djs">
                                    <td><span>距离下期开奖剩余</span></td>
                                    <td width="49"><em>00</em></td>
                                    <td width="29" align="center">分</td>
                                    <td width="49"><em>18</em></td>
                                    <td width="29" align="center">秒</td>
                                    <td align="right"><span class="horn"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div>
                    <a href="/Xscp/Index" style="float:right; font-size: 15px; color: #020763; text-decoration: underline;">切回旧版本</a>
                </div>
            </div>
        </div>

        <div class="h10"></div>
        <div class="wrap">
            <div class="wanfa2">
                <span class="tab_2_2">定位走势</span>
                <span id="x1wan">万位走势</span>
                <span id="x1qian">千位走势</span>
                <span id="x1bai">百位走势</span>
                <span id="x1shi">十位走势</span>
                <span id="x1ge">个位走势</span>
                <span id="x1012">012路走势</span>
                <span id="x1dzx">大中小走势</span>
                <span id="x1dxjo">大小奇偶走势</span>
                <div class="c"></div>
                <span class="tab_2_2">二星走势</span>
                <span id="x2012">012路走势</span>
                <span id="x2sdxds" style="background-color:#ff0000;color:#fff;">大小奇偶走势</span>
            </div>
        </div>

        <div class="wrap">
            <div class="tit06">
                <table width="55%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td align="center" class="f14 cdf0">新生分分彩【<span id="id_lottery_type_name" style="font-size:16px;color:#020763;">大小奇偶</span>】走势图</td>
                            <td width="30px" align="right"></td>
                            <td align="right">日期：<input id="id_date" style="width:80px;" onclick="laydate()" /></td>
                            <td width="30px"></td>
                            <td align="left">期数：<input id="id_num" type="text" style="width:50px;" value="10" /></td>
                            <td align="left"><input type="button" value="搜索" class="sch_btn  ml10" onclick=" request()"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="wrap">
            <table class="tb_table" id="tablessc" width="1001" border="1" cellpadding="0" cellspacing="0" bordercolorlight="#ABA79B" bordercolordark="#FFFFFF"></table>
        </div>
    </div>
</body>
</html>